{% extends 'adminBase.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block head %}
{% endblock %}

{% block body %}

 <div class="jumbotron text-center">

<table border="5" bordercolor="block" align="center" id='tab'>
<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Location</th>
		<th scope="col">Description</th>
		<th scope="col">Image</th>
		<th scope="col">Status</th>
		<th scope="col">Delete</th>
	</tr>
</thead>

<tbody>
	{%for i in range(0, len)%} 
		<tr class="table">
			<td>{{data1[i][2]}}</td> 
			<td>{{data1[i][3]}}</td>
			<td>{{data1[i][4]}}</td>
			<td><img src="data:;base64,{{ data1[i][5] }}"/></td>
			{% if data1[i][0]== "0" %}
			<td><button><a href="/repair?id={{data1[i][1]}}">Repair</a></button></td>
			{% else %}
			<td style="color:green">Repaired&nbsp;&nbsp;<a href="/revert?id={{data1[i][1]}}">Revert</a></td>
			{% endif %}
			<td><button><a href="/delete?id={{data1[i][1]}}">Delete</a></button></td>
		</tr>

	{%endfor%} 	
</tbody>
</table>
</div>
<script type="text/javascript">
$('#tab').DataTable();
</script>

{% endblock %}