{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>

<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
    
  } else { 
    document.getElementById("location").value = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  document.getElementById("location").value = "Latitude: " + position.coords.latitude + 
  ", Longitude: " + position.coords.longitude;
  
  const uluru = { lat: position.coords.latitude, lng: position.coords.longitude };
  // The map, centered at Uluru
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
    center: uluru,
    mapTypeId: google.maps.MapTypeId.HYBRID
  });
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
}
window.onload = getLocation;
</script>
<style type="text/css">
	/* Set the size of the div element that contains the map */
#map {
  height: 200px;
  /* The height is 400 pixels */
  width: 50%;
  /* The width is the width of the web page */
}
</style>

	<div class="p-5 row ">
		<div class="col-sm-4">
			<div class="bg-#e2e8f0">
				<blockquote class="blockquote">
					<p class="mb-0">
					Whether you’re driving a car, riding a motorcycle, or handling a bicycle, you wish for a smooth ride. Too bad: there are no guarantees. Roads aren’t always consistently level. In fact, the majority of roads, highway and urban, are studded with debris, loose rocks, and loathsome potholes, all of which can make for a bumpy ride.Potholes are one of the public's main local concerns, as they are highly visible defects. Many perceive that the quality of local roads may be deteriorating, with potholes being one of the main causes.Other immediate damages that can occur from a pothole include scratches, dents, and leaks. The tires of a vehicle are made to keep it a certain distance above the ground. The bottom of an automobile is not made to come into contact with the road’s surface, but when a larger pothole is run over, this can often be the case.
					</p>
				</blockquote>
			</div>
		</div>
		<div class="col-sm-8">
			{% if file %}
			<div class="card border-primary mb-6" style="max-width: 50rem;">
			  	<div class="card-header">
			  		<h4>Result of input image.</h4>
			  	</div>
			  	<div class="card-body">
				    {% if msg %}
				    <h3>{{ msg }}</h3>
				    {% else %}
					    <form action="{{url_for('store')}}", method="post", enctype=multipart/form-data >
							<div class="form-group">
								<div class="row">
									


								    <div class="form-group col-sm-6">
										<label for="location"> <legend>Live Location </legend></label>
										<input type="text" class="form-control" id="location" aria-describedby="emailHelp"  name="location" readonly="readonly">
										<small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
								    </div>
								    <div id="map"></div>
							    </div>


							    <div class="form-group">
									<label for="desc"><legend>Description</legend></label>
									<textarea class="form-control" id="desc" style="color:red;" " name="desc" rows="3">{{ no_of_pothole }}</textarea>
								</div>


<!-- 								<label for="exampleInputFile"><legend>Enter Name</legend></label>
								<input type="text" id="uname" name="uname"><br>

								<label for="exampleInputFile"> <legend>Enter Location </legend></label>
								<input type="text" id="location" name="location"> <br>

								<label for="exampleInputFile"> <legend>Enter Damages</legend></label>
								<textarea id="desc" name="desc" rows="4" cols="40"></textarea> -->
							</div>
							<input type="submit" class="btn btn-primary" value="Upload" />
						</form>
					{% endif %}
					<br>
				    <img class="col-sm-12" src="{{file}}">
				</div>
			</div>
			{% endif %}

			<div class="card border-primary mb-6 " style="max-width: 50rem;">
			  	<div class="card-header">
			  		<h4>Upload the image of the problem</h4>
			  	</div>
			  	<div class="card-body">
				  	<!-- 
				    <h4 class="card-title">Primary card title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

				    <form action="{{url_for('main')}}", method="post", enctype=multipart/form-data>

						<div class="form-group">
							<label for="exampleInputFile"> <legend>Choose Image: </legend></label>
							<input type="file" class="form-control-file", name="img",style="width:200px", accept="image/*" single/>

							<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
							<br>
							<input type="submit" class="btn btn-primary" value="Check" />
					    </div>			
					</form>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}